

.content {
  position: absolute; /* Position the background text */
  text-align: center;
  margin-top: 1em;
  font-size: 72px;
  color: #EC9F60; 
  font-family: 'Open Sans Condensed', Verdana, sans-serif;
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */
}
  .row {
    display: flex;
    flex-flow: row wrap;
  }
 
  .col {
    display: flex;
    margin: 3em;
  }
  
  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 2;
    
  }
  
  .col-3 {
    flex: 3;
  }
  .col-4{
      flex:4;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  .rounded-border {
    border: 1px solid#EC9F60;
    border-radius: 4px; 
    margin-right:1em;
    
  }
  .blocked-content{
    margin-left: auto;
    margin-right: auto;
    width: 8em;}

  .btn{
    
    font-weight:bold;
    border-radius: 4px; 
    background-color:#EC9F60;}

  


  